@tailwind base;
@tailwind components;
@tailwind utilities;

.main-div-header{
    z-index: 1;
}
@media screen and (max-width:650px) {
    .main-div-header{
        display: block;
    }
    .search-input-header{
        display: block;
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:450px) {
    .navbar{
        font-size: 14px;
    }
}